<div class="mat-typography mat-app-background app-frame"
     fxLayout="column"
     [ngClass]="themeClass">
  <mat-toolbar class="app-toolbar"
               color="primary">
    <button mat-icon-button
            (click)="sidepanel.toggleState()">
      <mat-icon>menu</mat-icon>
    </button>
    <span fxFlex>Web App</span>
  </mat-toolbar>
  <div class="app-body mat-app-background"
       fxFlex
       fxFill
       fxLayout="row"
       fxLayoutAlign="start stretch">
    <sidepanel></sidepanel>
    <div fxFlex
         class="app-panel">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
